
.body{ background-color: beige;}
.container-1{ display: flex; justify-content: center;}

.card{ background-color: bisque;height: 400px; width: 250px;
       margin: 10px; margin-left: -1000px; border-radius: 15px;}

.card-image{background-color: aquamarine;height: 200px;
    margin-bottom: 15px; border-radius: 15px; background-repeat:round;
    background-size: cover;}
    
.game-name{margin-left:10px;}
.card-image{background-color: aquamarine;height: 200px;
    margin-bottom: 15px; border-radius: 15px; background-repeat:round;
    background-size: cover;}
.among-us{ background-image: url('Among-Us.jfif'); }
.star-img{ width:20px;position: relative;top:-20px;margin-left: 10px;}
.company-name{ position: relative;top:-28px;margin-left: 10px;}
.download{background-color:aquamarine;text-align: center; width:160px;
    font-size: 30px;border-radius:20px;position: relative;top:-10px;
    margin-left: auto;margin-right: auto;}
.anchor-tag{ text-decoration: none;color: black;}
.about-body1{ background: url("background-among-us.jpg") ;
    background-repeat: no-repeat; background-size:cover;}
    .heading-1{margin:25px; font-size: 40px;color: rgb(95, 170, 236);}   
    .heading{ margin:25px; font-size: 25px;color: aliceblue; }   
    .about-of-Among-us{ text-align:justify; margin:50px; font-size:22px; color: aliceblue;}