    .body {
        background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
        margin-bottom: 0px;
        margin-top: 0px;
        padding: 0;
        box-sizing: border-box;
    }

    <<<<<<< HEAD .navbar {
        display: flex;
        align-items: center;
        justify-content: right;
        top: 0;
        cursor: pointer;
        margin-bottom: 30px;

    }

    .nav-list {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;

        =======>>>>>>>bd5373e44e90e2ba5ca12b7513e2f6a4fb6e0a09 .upper-container {
            display: flex;
            margin-left: 50px;
        }

        .category-name {
            font-size: 35px;
            color: white;
            padding-top: 120px;
            margin-left: 30px;
        }

        .container {
            display: flex;
            justify-content: center;
        }

        .card {
            background-color: antiquewhite;
            height: 410px;
            width: 220px;
            margin: 10px;
            border-radius: 20px;
            margin-bottom: 50px;
        }

        .card:hover {
            transition: 1s;
            transform: scale(1.05);
            background: linear-gradient(black, rgb(117, 192, 199));
            border-radius: 10px;
        }

        hr {
            box-shadow: 2px 2px 2px 2px thistle;
            margin-bottom: -100px;
        }

        .card-image {
            background-color: aquamarine;
            height: 200px;
            margin-bottom: 8px;
            border-radius: 15px;
            background-repeat: round;
            background-size: cover;
        }

        .game-name {
            margin-left: 10px;
        }

        .card-image {
            background-color: aquamarine;
            height: 200px;
            margin-bottom: 15px;
            border-radius: 15px;
            background-repeat: round;
            background-size: cover;
        }

        .among-us {
            background-image: url('../img/Among-Us.jfif');
        }

        .star-img {
            width: 20px;
            position: relative;
            top: -20px;
            margin-left: 10px;
            transition: 50%;
        }

        .half-star {
            width: 20px;
            position: relative;
            top: -20px;
            margin-left: 10px;
        }

        .company-name {
            position: relative;
            top: -28px;
            margin-left: 10px;
        }

        .download {
            background-color: teal;
            text-align: center;
            width: 160px;
            font-size: 30px;
            border-radius: 10px;
            position: relative;
            top: -25px;
            margin-left: auto;
            margin-right: auto;
            box-shadow: 2px 2px 2px 2px black;
        }

        .download:hover {
            background-color: tomato;
            transition: 0.3s;
            cursor: pointer;
            transform: translate(-10px);
        }

        .anchor-tag {
            text-decoration: none;
            color: black;
        }

        .about-body-among-us {
            background: url("../img/background-among-us.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .heading-1 {
            background: linear-gradient(black, blue);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin: 25px;
            font-size: 40px;
        }

        .heading {
            background: linear-gradient(#0be955, #f1045f);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin: 25px;
            font-size: 25px;
            color: aliceblue;
        }

        .about-game-information {
            background: white;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-align: justify;
            margin: 50px;
            font-size: 22px;
            color: aliceblue;
        }

        .download-btn {
            background-color: aquamarine;
            text-align: center;
            width: 250px;
            font-size: 50px;
            position: relative;
            bottom: -50px;
            margin-left: auto;
            margin-right: auto;
        }

        .playstore-img {
            height: 50px;
            text-align: center;
            margin-bottom: -35px;
            margin-left: -10px;
            margin-right: 5px;
        }

        .download-btn-about {
            background-color: teal;
            text-align: center;
            width: 380px;
            font-size: 35px;
            position: relative;
            margin-bottom: 50px;
            margin-top: 50px;
            border-radius: 8px;
            margin-left: auto;
            margin-right: auto;
        }

        .download-btn-about:hover {
            background-color: tomato;
            transition: 0.3s;
            cursor: pointer;
            transform: translate(-10px);
        }

        .anchor-about-download {
            text-decoration: none;
            color: black;
            ;
        }

        .anchor-about-download:hover {
            color: black;
        }

        .video-tag {
            margin-top: -180px;
            margin-bottom: -50px;
        }

        .video-tag-left {
            margin-top: -220px;
            margin-bottom: -50px;
            margin-left: 900px
        }

        .footer-img {
            display: flex;
            width: 100px;
            height: 180px;
            margin: 90px;
            margin-left: -25px;
        }

        .COD {
            background-image: url('../img/callofduty-card-img.jfif');
        }

        .undawn {
            background-image: url('../img/undawn-card-img.webp');
        }

        .DOZ {
            background-image: url('../img/DOZ-card-img.webp');
        }

        .pubg {
            background-image: url('../img/pubg-card-img.webp');
        }

        .about-body-COD {
            background: url("../img/background-img-cod.jfif");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .about-body-undawn {
            background: url('../img/undawn-background-img.jfif');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .about-body-DOZ {
            background: url('../img/DOZ-background-img.jfif');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .about-body-pubg {
            background: url('../img/pubg-backgroung-img.jfif');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .FE {
            background: url('../img/FE-card-img.png');
            background-size: cover;
        }

        .AG {
            background: url('../img/AG-card-img.png');
            background-size: cover;
        }

        .C {
            background: url('../img/C-card-img.png');
            background-size: cover;
        }

        .DL {
            background: url('../img/DL-card-img.png');
            background-size: cover;
        }

        .LU {
            background: url('../img/LU-card-img.png');
            background-size: cover;
        }

        .upcoming {
            font-size: 25px;
            text-align: center;
        }

        .anchor-tag-upcoming {
            text-decoration: none;
            color: blue;
            margin-top: -20px;
        }

        .HP {
            background-image: url('../img/harrypotter-card-img.jfif')
        }

        .disorder {
            background-image: url('../img/disorder-card-img.jfif')
        }

        .ROD {
            background-image: url('../img/ROD-card-img.jfif')
        }

        .CI {
            background-image: url('../img/chibi-card-img.jfif')
        }

        .HC {
            background-image: url('../img/HC-card-img.jfif')
        }

        .SS {
            background-image: url('../img/SS-card-img.jfif');
        }

        .AB {
            background-image: url('../img/AB-card-img.jfif');
        }

        .CE {
            background-image: url('../img/CE-card-img.jfif');
        }

        .MC {
            background-image: url('../img/MC-card-img.jfif');
        }

        .BJ {
            background-image: url('../img/BJ-card-img.jfif');
        }

        .AN {
            background-image: url('../img/AN2-card-img.jfif');
        }

        .TR {
            background-image: url('../img/TR-card-img.jfif');
        }

        .AR {
            background-image: url('../img/AR-card-img.jfif');
        }

        .DD {
            background-image: url('../img/DD-card-img.jfif');
        }

        .TB {
            background-image: url('../img/TB-card-img.jfif');
        }

        .OH {
            background-image: url('../img/OH-card-img.jfif');
        }

        .BD2 {
            background-image: url('../img/BD2-card-img.jpg');
        }

        .HIT2 {
            background-image: url('../img/HIT2-card-img.jpg');
        }

        .SC {
            background-image: url('../img/SC-card-img.webp');
        }

        .DS3 {
            background-image: url('../img/DS3-card-img.webp');
        }

        .about-body-HP {
            background: url('../img/harrypotter-background-img.jfif');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .about-body-DS {
            background: url('../img/disorder-background-img.jfif');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .about-body-ROD {
            background: url('../img/ROD-background-img.jfif');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .about-body-CI {
            background: url('../img/chibi-background-img.jfif');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .about-body-HC {
            background: url('../img/HC-background-img.jfif');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .about-body-SS {
            background: url('../img/SS-background-img.jfif');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .about-body-AB {
            background: url('../img/AB-background-img.jfif');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .about-body-CE {
            background: url('../img/CE-background\ -img.jfif');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .about-body-MC {
            background: url('../img/MC-background-img.jfif');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .about-body-BJ {
            background: url('../img/BJ-background-img.jfif');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .about-body-AN {
            background: url('../img/AN2-bckg-img.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .about-body-TR {
            background: url('../img/TR-bckg-img.jfif');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .about-body-AR {
            background: url('../img/AR-bckg-img.jfif');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .about-body-DD {
            background: url('../img/DD-bckg-img.jfif');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .about-body-TB {
            background: url('../img/TB-bckg-img.jfif');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .about-body-OH {
            background: url('../img/OH-bckg-img.jfif');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .about-body-BD2 {
            background: url('../img/BD2-bckg-img.jfif');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

        }

        .about-body-HIT {
            background: url('../img/HIT2-bckg-img.jfif');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .about-body-SC {
            background: url('../img/SC-bckg-img.jfif');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .about-body-DS3 {
            background: url('../img/DS3-bckg-img.jfif');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .footer {
            background-color: #101216;
        }

        .footer-container {
            max-width: 1180px;
            padding: 30px;
            padding-top: 20px;
        }

        .footer-col {
            width: 25%;
            padding: 0px 18px;
            margin-right: 70px;
        }

        .footer-col h4 {
            font-size: 20px;
            color: #fffffF;
            text-transform: capitalize;
            margin-bottom: 30px;
            position: relative;
            margin-right: 30px;
        }

        .row {
            display: flex;
            margin-right: 80px;
        }

        .footer-col ul li a {
            font-size: 18px;
            text-transform: capitalize;
            color: #ffffff;
            text-decoration: none;
            font-weight: 300;
            color: #bbbbbb;
            display: block;
            transition: all 0.3s ease;
        }

        .footer-col ul li a:hover {
            color: #ffffff;
            padding-left: 8px;
            ;
        }

        .footer-col .social-link-img {
            display: inline-flex;
            height: 30px;
            width: 30px;
            ;
            margin-right: 14px;
        }