.division{
    background-color: black;
    padding: 20px;
}
.block{
    background-color:white;
    color:black;
    border-radius: 10px;
    border: solid red 3px;
    padding: 5px;
    text-decoration: none;
    font-family: Algerian;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 5px 5px 10px 5px rgb(84, 79, 79);
}
.block:hover{
    background-color: rgb(246, 246, 246);
    border-radius: 20px;
    border: dashed red 2px;
    transition:1s;
}
body{
     margin:0;
     background-color: #000080;
     
    } 
.para{
    text-align: center;
}
.container{
    background-color: rgb(13, 45, 161);
    display: flex;
    padding: 10px;
    margin: 10px 10px 10px 10px;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.card
{
    *background-color: rgb(90, 90, 213);
    display:inline-block;
    height: 400px;
    width: 300px;
    
    border-radius: 15px;

}
.cardi{
    width: 200px;
    height: 300px;
    padding: 20px;
    overflow: hidden;
    border-radius: 15px;
    margin-left: auto;
    margin-right:auto;
    
}
.but{
    background-color: rgb(118, 27, 27);
    border-radius: 10px;
    font-size: 20px;
    color:white;
    border:solid black 1px
}
.but:hover{
    border-radius: 20px;
    border:solid red 2px;
}
.feaImg{
    height: 500px;
    
}
.divi{
    display:flex;
}
.paragraph{
    color:white;
    font-size: 40px;
}
.paragraph1{
    font-size:30px;
}
.imgdivision{
    background-image: url("https://www.gamespot.com/a/uploads/original/1552/15524586/3774263-613605-assassins-creed-valhalla-patch.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 100%;
}
