.barcode {
	float: left;
	height: 20px;
}

.barcode#B1 {
	background-color: Black;
	width: 1px;
}

.barcode#B2 {
	background-color: Black;
	width: 2px;
}

.barcode#B3 {
	background-color: Black;
	width: 3px;
}

.barcode#B4 {
	background-color: Black;
	width: 4px;
}

.barcode#W1 {
	background-color: White;
	width: 1px;
}

.barcode#W2 {
	background-color: White;
	width: 2px;
}

.barcode#W3 {
	background-color: White;
	width: 3px;
}

.barcode#W4 {
	background-color: White;
	width: 4px;
}
