*{
    margin: 0;
    padding: 0;
}




.navbar{
    display:flex;
    align-items: center;
    justify-content: right;
    position: sticky;
    top: 0;
    cursor: pointer;

}
.nav-list{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;


    

}
.nav-list li{
    list-style: none;
    padding: 26px 30px;

}

.nav-list li a{
    text-decoration: none;
    color: white;
}
.nav-list li a:hover{
    color: rgb(12, 248, 197);

}    

.rightNav{ 
    width: 30%;
    text-align: right;
}








.background{

    background-size: cover;
    background-blend-mode: darken;
    background-color:rgba(0,0,0,0.6);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    backdrop-filter: blur(8px);
    box-shadow: 0 20px 30px rgba(0,0,0,0.15);

}


.text-big{
font-size: 35px;
font-style: oblique 40deg;

}

.text-small{
font-size: 20px;

}







.section{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 903%;
    margin: auto;
    color: rgb(4, 9, 133);

}
.section-left{
  flex-direction: row-reverse;
}

.paras{
    padding: 10px 65px;
}

.imgFluid{
    max-width: 100%;
    max-height: 100%;
}

/* used to change font */
.sectionsubtag{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif; 
    font-style: oblique 40deg;
    color: rgb(18, 91, 150);

}






/*footer*/

.footer{
    max-width: 70%;
    margin: 1rem auto;
    overflow: auto;
    
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(5,166,217,1) 0%, rgba(4,106,185,1) 0%, rgba(6,65,158,1) 0%, rgba(9,150,150,1) 0%, rgba(76,7,35,1) 0%, rgba(6,48,97,1) 0%, rgba(9,9,121,1) 0%, rgba(5,81,168,1) 39%, rgba(15,237,201,1) 100%, rgba(0,212,255,1) 100%);
    padding-left: 430px;
    padding-bottom: 100px;
    padding-top: 50px;
}

.footer ,
.footer a{
    color: #fbfefe;
    font-size: 0.9rem;
}

.footer p{
    margin-bottom: 1.5rem;
}

.footer .footer-cols{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-gap: 2rem;
}

.footer li{
    line-height: 2.4;
}





